#body {
    background-color: black;
}

.txButton, .txAbortButton, .rxButton, .rxStopButton {
    border: none;
    color: white;
    padding: 0.5em 1.5em;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
}
.txButton {
    background-color: green;
}
.txAbortButton {
    background-color: red;
}
.rxButton {
    background-color: green;
}
.rxStopButton {
    background-color: blue;
}

#inputtext {
    border:1px solid white;
    font-size: 3em;
    color: white;
    background-color: black;
}
#mainTable {
    table-layout: fixed;
    width: 100%;
    background-color: black;
}

.labelText, .paramValue {
    padding-top: 1em;
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
}

.labelText {
    font-family: sans-serif;
}

.canvas {
     border:1px solid white;
}
.paramValue {
    font-family: monospace;
}
