body {
    background-color: black;
}
#mainDiv {
    min-width: 38em;
}

.txButton, .txAbortButton, .pasteBlockButton, .uploadBlockButton, .rxButton, .rxStopButton {

    color: white;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
}
.txButton, .txAbortButton, .pasteBlockButton, .uploadBlockButton {
    padding: 1.0em 0.5em;
    height: 4em;
}
.rxButton, .rxStopButton {
    padding: 0.5em 1.5em;
}
.rxButton, .rxStopButton, .txButton, .txAbortButton {
    border: none;
}
.txButton {
    background-color: green;
}
.txAbortButton {
    background-color: red;
}
.pasteBlockButton, .uploadBlockButton {
    border: 0.1em solid darkcyan;
    background-color: darkorange;

}
.rxButton {
    background-color: green;
}
.rxStopButton {
    background-color: blue;
}

#inputtext {
    border:1px solid white;
    font-size: 3em;
    color: white;
    background-color: black;
    width: 100%;
}
#mainTable {
    table-layout: fixed;
    width: 100%;
    background-color: black;
}

.labelText, .paramValue {
    padding-top: 1em;
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    min-width: 10em;
}

.labelText {
    font-family: sans-serif;
}

.canvas {
     border:1px solid white;
}
.paramValue {
    font-family: monospace;
    min-width: 5em;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 2em;
    background: black;
    outline: none;
    cursor: pointer;
    border: 0.2em solid darkgreen;
    border-radius: 0.2em;
    margin: 2em;
}
.slider:disabled {
    border: 0.2em solid grey;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2em; /* Set a specific slider handle width */
  height: 4em; /* Slider handle height */
  background: lawngreen; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider:disabled::-webkit-slider-thumb {
    background: grey;
}
.slider::-moz-range-thumb {
  width: 2em; /* Set a specific slider handle width */
  height: 4em; /* Slider handle height */
  background: lawngreen; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider:disabled::-moz-range-thumb {
    background: grey;
}

.labelText, .paramValue {
    padding: 0.0em;
}
.paramControl {
    min-width: 20em;
}

